body {
	font-family: Tahoma, Geneva, sans-serif;
 	background-image: url("https://c2.staticflickr.com/4/3265/3391072681_32404a7630.jpg");
}

.header{
	font-size: 2.5em;
	text-align: center;
}

#common{
	background-color: orange;
	border-radius: 15px;
	width: 100%;
	text-align: center;
	height: 160px;

}

#logo{
	width:240px;
	height:70px;
	margin-top: 20px;

}
 



h1{
	text-align: center;
}

#description{
	height:200px;
	width:400px;
}



#t1{
	text-align: center;
	width:100%;
}

#content{
	border-radius:15px;
background-color: orange;
;height:307px;width:1000px;margin: 0 auto;
	}

#p1{
	font-size: 1.6em;
	text-align: center;
}

    Status API Training Shop Blog About Pricing 


